.details
{
  width: 100%;
  display: flex;
  align-items: center;
  color: blue;
  justify-content: center;
}
.componets
{
  text-align: center;
  width: 300px;
  background-color: brown;
  color: aliceblue;
}
